body {
    height: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-content: right;
    flex-direction: row;
}

.highlight {
    background-color: black;
    color: white;
}

.menuBarText {
    padding: 8px;
    margin: 0 8px;
    font-size: 18px;
}

.bold {
    font-weight: 900;
}

/* ----------------------- Portal ------------------------------ */
.portal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ----------------------- Login/Signup ------------------------------ */

.hide {
    opacity: 0;
}

.errorTxt {
    margin: 4px 0 12px 0;
    color: #cb0202;
}

.loginForm {
    margin: 0 5vw 0 0;
}

.signupForm {
    margin: 0 0 0 5vw;
}

/* ----------------------- Reservations Page ------------------------------ */

.clientReservationCard {
    background-color: #cccccc;
    padding: 9px 0 9px 18px;
    margin: 0 0 18px 0;
}

.clientName {

}

.cardText {
    font-size: 18px;
}

.serviceItemCard {
    border-top: dotted black 2px;
}

.calendar {
    background-color: #f3f3f3;
    border: solid 2px #dfdfdf;
    padding: 10px;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
    margin: 0 40px 0 0;
}

.calendarDays {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
}

.calendarDay {
    width: 20px;
    margin: 4px;
}

.selectedDay {
    background-color: #28e6dd;
}

.schedule {
    background-color: #f3f3f3;
    border: solid 2px #dfdfdf;
    padding: 10px;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    height: -moz-fit-content;
}

.listedTimeSlots {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 330px;
}

.timeslot {
    border: solid 2px #dfdfdf;
    padding: 2px 8px 2px 8px;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 4px 8px 0;
}

.timeslot:hover {
    cursor: pointer;
}

.selectedTime {
    background-color: #28e6dd;
}

.dateTool {
    display: flex;
    flex-direction: row;
}