body {
    height: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    align-content: right;
    flex-direction: row;
}

.highlight {
    background-color: black;
    color: white;
}

.menuBarText {
    padding: 8px;
    margin: 0 8px;
    font-size: 18px;
}

/* ----------------------- Portal ------------------------------ */
.portal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ----------------------- Login/Signup ------------------------------ */

.hide {
    opacity: 0;
}

.errorTxt {
    margin: 4px 0 12px 0;
    color: #cb0202;
}

.loginForm {
    margin: 0 5vw 0 0;
}

.signupForm {
    margin: 0 0 0 5vw;
}